{% extend 'base.html' %}
{% load static %}
{% block content %}
<center>
<div>
    <h3>You have searched for {{query}}</h3>
</div>
</center>
    <div class="container" style="margin-bottom:100px">
        <div class="row mx-auto">
            {% for i in products %}
            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <img src="{{i.image.url}}" style="height:250px;width:100%;" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title title_heading">{{i.name}}</h5>
                        <a href="{% url 'shop:prodetail' i.slug %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                <p>0 RESULT FOUND</p>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}